.navbar{
    padding-bottom:10px;

}
.c{
  
   font-weight: bolder;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}
body{
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  background-image:url('./vecteezy_geometric-animated-background-light-color_7420874.gif');   
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #070707;
  padding-top: 60px;
  background-repeat:repeat;
    
}
body, html {
  height: 100%;
  background-color: black;
  margin: 0;
  overflow-x: hidden; 
}


.main {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 20px; 
}

@media (max-width: 768px) {
  body {
    background-size: contain; 
    background-repeat:repeat; 
  }
}

.container1 {
    display: flex;

    width:100%; 
    height: auto; 
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left{

  
 
 
    color: #d6d8d9;
 

}

.right {
    
    position: relative;
    left:4rem;

 
}







.rounded-image {
 

    animation: big 2s ease-out forwards;
  }

  @keyframes big {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
  }


.animated-list {
    list-style-type: disc; 
    color: #d6d8d9;
    padding-left: 40px; 
    margin: 0;
  }
  
  .animated-list li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
    font-size: 1.5rem;
    animation-delay: calc(0.2s * var(--i));
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
    
      transform: translateY(15px);

    }
    50% {
        opacity: 0.5;
       
        transform: translateY(10px);
      }
      100% {
        opacity: 1;
   
        transform: translateY(0px);
      }
  }
  
  .animated-list li:nth-child(1) {
    --i: 1;
  }
  
  .animated-list li:nth-child(2) {
    --i: 2;
  }
  
  .animated-list li:nth-child(3) {
    --i: 3;
  }
  
  .animated-list li:nth-child(4) {
    --i: 4;
  }
  
  .animated-list li:nth-child(5) {
    --i: 5;
  }
  .animated-list li:nth-child(6) {
    --i: 6;
  }
  
  .animated-list li:nth-child(7) {
    --i: 7;
  }
  
  .animated-list li:nth-child(8) {
    --i: 8;
  }
  
  .animated-list li:nth-child(9) {
    --i: 9;
  }
  
  .animated-list li:nth-child(10) {
    --i: 10;
  }
  .animated-list li:nth-child(11) {
    --i: 11;
  }
  



  
  





  

  
 
.cc{
  background-color: #c137379b;
  color: aliceblue;
  margin: 15px;
  background: rgba(130, 129, 129, 0.628);
  border-radius: 15px;
  padding: 5px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 14px 15px rgba(0, 0, 0, 0.2); 
  
  color: rgb(242, 241, 241);
  transform: scale(1); 
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  animation: big2 1.5s ease-out forwards;
}

@keyframes big2 {
  0% {
      transform: scale(0.8);
  }
  100% {
      transform: scale(1.0);
     
      
  }
}

.cc button {
  background-color: rgba(50, 49, 49, 0.532); 
  border: none;
  color: black;

  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cc button:hover {
  background-color: rgba(91, 90, 90, 0.5); 
}


.cc:hover {
  transform: scale(1.05);
 background-color: rgba(255, 255, 255, 0.203); 

}

.pro{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.head{
  font-size: 1.5rem;
  color: #d6d8d9;
  font-weight:bolder;
}

 


.more {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(52, 51, 51, 0.539);
  border-radius: 15px;
  padding: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  border: 1px solid rgba(248, 243, 243, 0.722); 
  color: rgb(242, 241, 241);

  animation: big3 2s ease-out forwards;
}

@keyframes big3 {
  0% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1.02);
 
      
  }
  100% {
    transform: scale(1.0);
   
    
}
}

.more button {
  background-color: rgba(255, 255, 255, 0.459); 
  border: none;
  color: black;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more button:hover {
  background-color: rgba(43, 43, 43, 0.5); 
}


@media (max-width: 768px) {
  .more {
    width: 100%; 
  }

  .card-body {
    padding: 10px; 
  }

  .fs-5, .fs-8 {
    font-size: 1rem; 
  }

  video {
    width: 100%;
  }
}


@media (min-width: 769px) {
  .more {
    width: 60rem; 
  }

  .card-body {
    padding: 20px; 
  }
}











.custom-navbar {
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: nav 2.5s ease-in-out forwards;
  padding:2px;
}

@keyframes nav {
  0% {
    opacity: 0;

  border-radius: 0px;
  transform: translateY(20px);
  }

100% {
  
  opacity: 1;
  transform: translatey(0px);
  


}
}



.navbar .navbar-brand {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.1rem;
  margin-left: 20px; 
}

.navbar .navbar-nav .nav-link.active {
 
 border: 2px solid rgb(18, 18, 18);
 border-radius: 15px;
}


.navbar .navbar-nav .nav-link:hover {

  text-decoration:underline;
}


.invert-icon {
  filter: invert; 
  transition: filter 0.3s ease; 
  margin-left: 10px; 
}

.con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 84vh;
}

.em{

color: white;
font-size: 2rem;
margin:1rem;
margin-top: 4rem;
animation:em 1 ease-in-out forwards;
}

.em li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
  font-size: 1.5rem;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes em {
  0% {
    opacity: 0;
  
    transform: translateY(15px);

  }
  50% {
      opacity: 0.5;
     
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
 
      transform: translateY(0px);
    }
}

.em li:nth-child(1) {
  --i: 1;
}

.em li:nth-child(2) {
  --i: 2;
}

.em li:nth-child(3) {
  --i: 3;
}

.em li:nth-child(4) {
  --i: 4;
}

.form{
  border: none;
  padding:2%;
  border-radius:40px;
  animation: appear 1s ease-out forwards;

  background: rgba(0, 0, 0, 0.284);
  border-radius: 15px;
  padding: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
 
  color: rgb(5, 4, 4);

}

.bb{
  background-color: #343a40;
  border: 2px solid white;

}

.bb:hover{
  background-color: rgba(255, 255, 255, 0.5); 
  border: 2px solid white;

}

@keyframes appear {
0%{
  opacity: 0;
  transform: translateY(30px);
}
50%{
  opacity: 0.2;
  transform: translateY(15px);
}
100%{
  opacity: 1;
  transform: translateY(0px);
}


}

.form{
  width: 60%;
  color: #ffffff;
}

.con {
  padding: 20px;
}

.em {
  margin-top:1rem;
}



li {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.card-body {
  padding: 20px;
  text-align: center;
}


@media (max-width: 768px) {
  li {
    font-size: 1rem; 
  }
  .form{
    width: 100%;
   
  }
}

@media (max-width: 576px) {
  li {
    flex-direction: row; 
    justify-content: flex-start; 
  }

  .em ul {
    padding-left: 0;
  }

  ul{
    margin-top: 2rem;
  }

  .form{
    width: 100%;
   
  }
}

li svg {
  margin-right: 10px; 
}


/* skill */


.animated-list {
  padding: 0;
 
  list-style-type: none;
  margin: 1.5rem;
  color: #080808;
}

.animated-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.2rem;  
}


.animated-list li .fa {
  margin-right: 10px;
}


@media (max-width: 768px) {
  .animated-list li {
    font-size: 1rem;  
  }
}


@media (max-width: 480px) {
  .animated-list li {
    font-size: 1rem;  
    flex-wrap: wrap;  
  }

  .animated-list li .fa {
    margin-right: 8px; 
  }
}

@media (max-width: 320px) {
  .animated-list li {
    font-size: 0.9rem;  
    margin-bottom: 8px;
  }

  .animated-list li .fa {
    margin-right: 8px;  
  }
}


/* about */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 1rem;


min-height: 90vh;

display: flex;
flex-direction: column;
align-items:center;
justify-content:center;






}

.ab {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

width: 90%;
  margin: 0 px;


  
  background: rgba(11, 11, 11, 0.284);
  border-radius: 15px;
  padding: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 

  color: rgb(242, 241, 241);
  color: rgb(0, 0, 0);

}

.ab1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-out;
}

.ab2 {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  width:80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  animation: slideUp 2s ease-out;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 1024px) {
  .ab {
    height: auto;
    padding: 5px;
  
  }

  .ab1 {
    font-size: 1.8rem;
  
  }

  .ab2 {
    font-size: 1.4rem;
    max-width: 90%;
 
  }
}


@media (max-width: 768px) {
  .ab {
    flex-direction: column;
    align-items: center;

  }

  .ab1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .ab2 {
    font-size: 1.3rem;
    max-width: 80%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .ab {
padding: 0%;
  }

  .ab1 {
    font-size: 1.3rem;
    width:90%;
    padding: 0%;
  }

  .ab2 {
    font-size: 1.1rem;
    width:90%;
    text-align: center;
    padding: 0%;
  }
}











.animated-text {
  opacity: 0; 
  transform: translateY(30px); 
  animation: appearFromBottom 2s ease-out forwards; 
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* project */



.cc {
  width: 100%;
  max-width: 20rem; 
  min-height: 30rem; 
  margin: 0 auto;
  transition: all 0.3s ease;
}


.cc img {
  min-height: 11rem;
  object-fit: cover;
}


.card-btn-left {
  margin-top: 5px;
  display: inline;
margin-left: 25px;
margin-right: 25px;
  
}


.project-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


@media (max-width: 1024px) {
  .cc {
    max-width: 18rem; 
    max-height:10rem;
    margin: 10px; 
  }
}


@media (max-width: 768px) {
  .cc {
    max-width: 100%; 
    max-height:28rem; 
  }

  .project-card {
    justify-content: center;
    gap: 10px;
  }
}






.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.projects-container .cc {
  width: 20rem; 
  min-height: 30rem; 
}


@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-container .cc {
    width: 100%; 
    max-width: 25rem; 
    min-height: 20rem; 
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .projects-container {
    flex-direction: row; 
    justify-content: space-between;
  }

  .projects-container .cc {
    width: 45%; 
    min-height: 25rem; 
  }
}



/* home */

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 90rem;
  gap: 16rem;
  margin: 0 auto;


  
  background: rgba(1, 1, 1, 0.284);
  border-radius: 15px;
  padding: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 

  color: rgb(242, 241, 241);
  


  
  position: relative;
  overflow: hidden;





}

.card-body {
  flex: 1;
  display: flex;
  padding: 1rem;
  max-width: 40rem;
  min-height: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.card-image {
  flex: 0 0 auto;
  max-width: 40rem;
  height: auto;
  object-fit: cover;
  margin: 0 1rem;
  max-width: 50px;
  min-height: 20rem;
  min-width:20rem;
  mix-blend-mode: multiply;
  
}


.Home{
  display: flex;
  justify-content: center;
  min-height:91vh;


  align-items: center;
}



.animated-text2 {
  opacity: 0;
  transform: translateY(30px);
  font-size: 1.5rem; 

  animation: appearFromBotto 2s ease-out forwards; 
  color: #000000;
}











@keyframes appearFromBotto {
  0% {
    opacity: 0;
    font-size: 0.2rem; 
    transform: translateY(0); 
    animation: borderShine 2s ease-out forwards;
  }
  100% {
    opacity: 2;
  
    transform: translateY(0); 
    animation: borderShine 2s ease-out forwards;
  }




}

.ss{
  opacity: 0; 
  transform: translateY(30px);
  
  animation: appearFromBott 2s ease-out forwards; 
  color: #211f1f;
}


@keyframes appearFromBott {
  0% {
    opacity: 0;
    font-size: 0.2rem; 
    transform: translateY(0); 
    animation: borderShine 2s ease-out forwards;
  }
  100% {
    opacity: 2; 
    font-size: 1.2rem; 
    transform: translateY(0); 
    animation: borderShine 2s ease-out forwards;
  }
}








@media (max-width: 768px) {
  .card-container {
    flex-direction:column-reverse;
    align-items: center;
    text-align: center;
    gap: 2px;
  }

  .card-body {
    padding: 1rem;
  }

  .card-image {
    margin: 1rem 0;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .card-container {
    padding: 1rem;
  }

 
  .card-body {
    padding: 0.5rem;
  }

  .card-image {
    width: 120px;
    height: 120px;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    flex-direction:column-reverse;
    align-items: center;
    text-align: center;
    gap: 2px;
  }

  .card-body {
    padding: 1rem;
  }

  .card-image {
    margin: 1rem 0;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .card-container {
    padding: 1rem;
  }

  .card-body {
    padding: 0.5rem;
  }

  .card-image {
    width: 120px;
    height: 120px;
  }
}



.animated-text {
  opacity: 0; 
  transform: translateY(30px); 
  animation: appearFromBottom 2s ease-out forwards; 
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hh{
  color: #d6d8d9;
  font-size: 2rem;
  font-weight: bold;
  animation: appearFromBottom 2s ease-out forwards; 
text-align: center
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 820px) {

.hh{
  font-size:1.4rem;
}


}






.custom-navbar{
 
  background: rgba(114, 113, 113, 0.284);
  border-radius: 15px;
  padding: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
 
  color: rgb(14, 13, 13);


}













body{
  margin: 0;
  padding: 0;
scroll-behavior: smooth;
 
}






.back{

 
  background: rgba(11, 11, 11, 0.284);
  border-radius: 15px;
  padding: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.489); 
 
  color: rgb(0, 0, 0);
}


@media (max-width: 480px) {
  .ll {
    font-size: 1.4rem;  
  }
}

@media (max-width: 469px) {
  .ll{
    font-size: 1.3rem;  
  }
}


/* huyftyfghfgjgf */